<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->
<!--/*@thymesVar id="taskMap" type="java.util.Map<com.javarush.jira.bugtracking.to.SprintTo, java.util.List<com.javarush.jira.bugtracking.to.TaskTo>>"*/-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<th:block th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain})}">
    <appMain>
        <h1 th:text="#{label.addTask}" th:align="center"></h1>
        <div class="container text-center">
            <form th:method="POST" th:action="@{/add}" th:object="${task}">
                <div class="form-group">

                    <label for="title">Enter title: </label>
                    <input type="text" th:field="*{title}" id="title"/>
                    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title
                        Error
                    </div>
                    <br/>

                    <label for="description">Enter description: </label>
                    <input type="text" th:field="*{description}" id="description" path="task.description"/>
                    <br/>

                    <select th:field="*{typeCode}">
                        <option th:value="'task'" th:text="task"></option>
                        <option th:value="'bug'" th:text="bug"></option>
                        <option th:value="'story'" th:text="story"></option>
                        <option th:value="'epic'" th:text="epic"></option>
                    </select>
                    <br>
                    <br>

                    <select th:field="*{statusCode}">
                        <option th:value="'backlog'" th:text="Backlog"></option>
                        <option th:value="'done'" th:text="Done"></option>
                        <option th:value="'ready'" th:text="Ready"></option>
                        <option th:value="'icebox'" th:text="Icebox"></option>
                        <option th:value="'in_progress'" th:text="in_progress"></option>
                    </select>
                    <br>

                    <select th:field="*{priorityCode}">
                        <option th:value="'high'" th:text="high"></option>
                        <option th:value="'normal'" th:text="normal"></option>
                        <option th:value="'low'" th:text="low"></option>
                    </select>
                    <br>

                    <select th:field="*{estimate}">
                        <option th:each="i : ${#numbers.sequence(1, 10)}" th:value="${i}" th:text="${i}">
                        </option>
                    </select>
                    <input type="submit" value="SAVE"/>
                </div>
            </form>
        </div>
    </appMain>
</th:block>
