<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->
<!--/*@thymesVar id="taskMap" type="java.util.Map<com.javarush.jira.bugtracking.to.SprintTo, java.util.List<com.javarush.jira.bugtracking.to.TaskTo>>"*/-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<th:block th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain})}">
    <appMain>
        <h1 align="center">My tasks</h1>
        <div class="container text-center">
            <table class="table table-bordered table-sm table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="Project"></th>
                    <th th:text="Title"></th>
                    <th th:text="Description"></th>
                    <th th:text="Priority"></th>
                    <th th:text="Type"></th>
                    <th th:text="Status"></th>
                    <th th:text="Tags"></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.project.title}" scope="col"></td>
                    <td th:text="${task.title}" scope="col"></td>
                    <td th:text="${task.description}" scope="col"></td>
                    <td th:text="${task.priorityCode}" scope="col"></td>
                    <td th:text="${task.typeCode}" scope="col"></td>
                    <td th:text="${task.statusCode}" scope="col"></td>
                    <td>
                        <ul th:each="tag : ${task.tags}">
                            <span class="badge badge-pill badge-success text-bg-danger" th:text="${tag}"></span>
                        </ul>
                    </td>

                    <td><a th:href="@{/tag(id=${task.id})}" class="btn btn-primary">Add tag</a></td>
                </tr>
                </tbody>
            </table>

        </div>
        <span class="badge badge-pill badge-primary">Primary</span>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Add Tags:</label><br/>
                            <input type="text" name="tags" placeholder="Tags"
                                   class="tm-input form-control tm-input-info"/>
                        </div>
                        <div class="form-group">
                            <label>Details:</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(".tm-input").tagsManager();
        </script>

    </appMain>
</th:block>
